*Nova Issue Aberta* ❗

*Título:* {{objectAttributes.title}}
*Autor:* {{user.name}}
*Projeto:* {{project.name}}
*Data de Criação:* {{objectAttributes.createdAt}}
*Descrição:* {{objectAttributes.description}}
*Labels:* {{#objectAttributes.labels}} {{title}} {{/objectAttributes.labels}}

*Link:* {{objectAttributes.url}}