*Issue Fechada* ✅

*Título:* {{objectAttributes.title}}
*Projeto:* {{project.name}}
*Issue:* #{{objectAttributes.iid}}
*Data de Fechamento:* {{objectAttributes.updatedAt}}

*Link:* {{objectAttributes.url}}