*Job Falhou* ❌

*Projeto:* {{project.name}}
*Job:* {{buildName}}
*Pipeline:* #{{pipelineId}}
*Numero de Tentativas:* {{retriesCount}}
*Branch:* {{ref}}
*Data da Falha:* {{buildFinishedAt}}

*Link:* {{project.webUrl}}/-/jobs/{{buildId}}