*Novo Merge Request Aberto* 🆕

*Título:* {{objectAttributes.title}}
*Autor:* {{user.name}}
*Projeto:* {{project.name}}
*Branch de Origem:* {{objectAttributes.sourceBranch}}
*Branch de Destino:* {{objectAttributes.targetBranch}}
*Data de Criação:* {{objectAttributes.createdAt}}
*Descrição:* {{objectAttributes.description}}
*Status:* {{objectAttributes.detailedMergeStatus}}

*Link:* {{objectAttributes.url}}