*Merge Request Autorizado* 👍


*Título:* {{objectAttributes.title}}
*Autor:* {{user.name}}
*Projeto:* {{project.name}}
*MR:* !{{objectAttributes.iid}}
*Data da Autorização:* {{objectAttributes.updatedAt}}
*Branch de Origem:* {{objectAttributes.sourceBranch}}
*Branch de Destino:* {{objectAttributes.targetBranch}}
*Status:* {{objectAttributes.detailedMergeStatus}}


*Link:* {{objectAttributes.url}}