 *Pipeline Falhou* ⚠️

*Projeto:* {{project.name}}
*Pipeline:* #{{objectAttributes.id}}
*Branch:* {{objectAttributes.ref}}
*Data da Falha:* {{objectAttributes.finishedAt}}
*Commit:* {{commit.title}}

*Link:* {{objectAttributes.url}}