 *Pipeline Bem-sucedida* ✅

*Projeto:* {{project.name}}
*Pipeline:* #{{objectAttributes.id}}
*Branch:* {{objectAttributes.ref}}
*Data:* {{objectAttributes.finishedAt}}
*Commit:* {{commit.title}}


*Link:* {{objectAttributes.url}}